:root {
    --circumstance-font: 'Noto Serif KR', serif;
}

body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    font-family: 'Noto Sans KR', sans-serif !important;
}

button {
    font-family: 'Noto Sans KR', sans-serif
}

.main-background-images {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.image-filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}





/* 상황 영역 */
.circumstance-container {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--circumstance-font);
}

.circumstance-box {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto 1rem;
    padding: 4rem 2rem;
    background-color: rgba(4, 1, 10, 0.575);
}

.circumstance-text {
    color: aliceblue;
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
}







/* 질문 영역 */
.question-container {
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    /* background-color: rgba(4, 1, 10, 0.575); */
}

/* .question-box {
    box-sizing: border-box;
    width: 70%;
    margin: auto;
    border: 5px solid aliceblue;
    padding: 2rem;
    background-color: rgba(4, 1, 10, 0.575);
} */
.question-box {
    box-sizing: border-box;
    width: 55%;
    margin: auto;
}
.question-container::before {
    width: 22.5%;
    height: 0;
    border-bottom: 1px solid aliceblue;
    content: ".";
    font: 0;
}
.question-container::after {
    width: 22.5%;
    height: 0;
    border-bottom: 1px solid aliceblue;
    content: ".";
    font: 0;
}

.question-text {
    width: fit-content;
    margin: auto;
    /* margin-left: 1.25rem; */
    color: aliceblue;
    text-align: center;
    font-family: var(--circumstance-font);
    font-size: 1.25em;
    line-height: 1.8;
}



/* 응답 영역 */
.reply-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: gold; */
}






/* 페이지별 이미지 & 필터 */


/* 시작페이지 */
#rainy-window-in-city {
    background-image: url("./images/rainy-window-in-city2.jpeg");
}

#rainy-window-in-city > .image-filter {
    background-color: rgba(25, 12, 95, 0.281);
}

a.start {
    display: block;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    border: 0;
    padding: 1.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
    color: rgb(0, 37, 70);
    background-color: rgba(240, 248, 255, 1);
    box-shadow: 0 0 5px rgba(240, 248, 255, 1);   /* is aliceblue color */
}

/* 1번 페이지 */
#morning-room {
    background-image: url("./images/morning-room.jpg");
}
#morning-room > .image-filter {
    background-color: rgba(196, 172, 93, 0.281);
}